 QUESTIONS NO.1

How would you convert one data type to another in python ?
For example ,an integer to a string.

To convert one data to another in python , you use something
calles 'typecasting'.

Example - If you have n integer 7 and want to convert into 
string, we use str() function like this :

In [1]:
number = 5

In [4]:
number

5

In [6]:
str(number)

'5'

In [8]:
int('5')

5

In [10]:
float(number)

5.0

In [17]:
list(5)

TypeError: 'int' object is not iterable

QUESTION NO.2

What is the differnce between == and = in python ? 

   In python ,= is an assingment operator that is used to assign value to a variable.

In [19]:
a = 5

a       # assigns 5 to a

On the other hand ,== is a comparison operator used to check if two values are eual.

In [30]:
if a == 5:

SyntaxError: incomplete input (330114907.py, line 1)

In [28]:
print("a")

a

Question NO.3

How does the modulus operator (%) work in python ?

The modulus operator (%) returns the reminder of a division.

In [34]:
10 % 3     # this will give reminder 1.

1

Its useful when you want to chek if a no. is even or odd, 
among all other thing. 
EX.=

In [36]:
10 % 5    # if no. is even .

0

Question NO. 4

What is the output 3 * "Hello" in python ? Explain why?

In [38]:
3 * "Hello"

'HelloHelloHello'

In python, multiplying by an integer repeats the string
that many times. So "Hello" 3 produces "Hello" three times in a row.

Question NO.5

What is string concatenation, and how would you do it
in python?

String concatenation means joining two or more strings
together. In python,you do using the + operator.

In [44]:
first name = "mahi"

SyntaxError: invalid syntax (3037863749.py, line 1)

In [42]:
last name ="sirsat"

SyntaxError: invalid syntax (3506952468.py, line 1)

In [48]:
full name = first name + "" + last name

SyntaxError: invalid syntax (1102159262.py, line 1)

In [50]:
last name

SyntaxError: invalid syntax (2744367232.py, line 1)

In [52]:
print(full name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1609256900.py, line 1)