Python basics and data types

1. Variable Manipulation
    a. Define variables to store students name, age ,GPA,
       and list of objects.

In [1]:
name = 'amruta'

In [3]:
name

'amruta'

In [5]:
type(name)

str

In [7]:
age = 29

In [9]:
age

29

In [11]:
type (age)

int

In [13]:
GPA = 8.9

In [15]:
type(GPA)

float

In [17]:
subjects = ['maths','science', 'geology', 'english','biology']

In [19]:
subjects

['maths', 'science', 'geology', 'english', 'biology']

In [21]:
type(subjects)

list

2. Convert age from years to months and display the result

In [32]:
age = '29'years

SyntaxError: invalid syntax (2497074437.py, line 1)

In [30]:
age

29

In [34]:
29 * 12

348

In [36]:
age * 12

348

3. concatenate and print a sentences using all the defined      variables.

Data stuructures - liss, tuples and dictionary

   A) WORKING WITH LISTS
       create a lists of integers and 
       1.append a new number.
       2.insert a number at specific index.
       3.remove duplicates and print the final list

In [42]:
l = [2,2,3,3,3,4,5,6,6,6]

In [44]:
l

[2, 2, 3, 3, 3, 4, 5, 6, 6, 6]

In [58]:
l.append(60)

In [60]:
l

[2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 45, 60]

In [62]:
l[3]

3

In [64]:
l[3] = 35

In [66]:
l

[2, 2, 3, 35, 3, 4, 5, 6, 6, 6, 45, 60]

In [5]:
l.remove(2)

NameError: name 'l' is not defined

In [ ]:
Question NO.4

  Operations:
o Create two sets of random numbers.
o Find and print their union, intersection, and difference.
o Remove one element from the first set and add a new element.

In [16]:
set1 = {4,5,6,7,8,9}

In [20]:
set2 ={7,8,10,11,12}

In [22]:
set1.union(set2)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [24]:
set1.intersection(set2)

{7, 8}

In [28]:
set1.difference(set2)

{4, 5, 6, 9}

In [30]:
set2.difference(set1)

{10, 11, 12}

2. Tuple Manipulation:
o Define a tuple of 5 colors.
o Try to add a new color to the tuple (observe and explain why it fails).
o Convert the tuple to a list, add the color, and convert it back to a tuple.

In [7]:
color =('red','blue','white','black')

In [9]:
color

('red', 'blue', 'white', 'black')

In [15]:
type(color)

tuple

In [30]:
 l = list(color)

In [36]:
l

['red', 'blue', 'white', 'black']

In [38]:
l.append('pink')

In [40]:
l

['red', 'blue', 'white', 'black', 'pink']

In [42]:
type(l)

list

In [44]:
tuple(l)

('red', 'blue', 'white', 'black', 'pink')

In [ ]:
4. Dictionary Practice:
o Define a dictionary for a library system with book titles as keys and available
copies as values.
o Update the count of a specific book after it is borrowed.
o Add a new book to the dictionary and print the updated dictionary.

In [18]:
book = {'hindi': 6,'physics': 7,'biology': 9}

In [20]:
book

{'hindi': 6, 'physics': 7, 'biology': 9}

In [22]:
type(book)

dict

In [24]:
book.keys()

dict_keys(['hindi', 'physics', 'biology'])

In [26]:
book.values()

dict_values([6, 7, 9])

In [28]:
book['biology']

9

In [30]:
book['biology'] = 4

In [32]:
book

{'hindi': 6, 'physics': 7, 'biology': 4}

In [39]:
book.update({'maths': 5})

In [41]:
book

{'hindi': 6, 'physics': 7, 'biology': 4, 'maths': 5}

o What is the difference between int and float data types?
o Describe the difference between mutable and immutable data types.

The main difference between integer and float data type is-
integer is a whole number while in float data types decimal 
numbers are present

In [43]:
l =[77,79,80,84]

In [46]:
type(l)

list

In [48]:
type(77)

int

In [53]:
list1 = [3.2,3.3,3,4]

In [55]:
type(list1)

list

In [60]:
type(3.3)

float